@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="~/css/home.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap">
</head>
<body>
    <div class="primaryContainer container-fluid">
        <section id="discover">
            <div class="container">
                <div class="content1 row">
                    <div class="slide1 col-md-7 d-flex flex-column justify-content-center">
                        <section>
                            <h1>
                                Your Health, <br /> Our Priority.
                            </h1>
                        </section>
                        <div class="search-container">
                            <input type="text" class="search rounded-3 border-0" placeholder="Search Tablets Syrups Drugs" />
                            <button class="search-button border-0">Search</button>
                        </div>
                    </div>
                    <div class="slide2 col-md-5">
                        <img src="~/image/fudadu2.png" alt="discover" width="500" />
                    </div>
                </div>
            </div>
        </section>

       

        

        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="pageTitle col d-flex align-items-center ms-0">
                        <div class="block"></div>
                        <h2 class="text-lg-start">
                            Check Out Our Medicine Categories
                        </h2>
                    </div>
                </div>
                <div class="content-top row">
                    <!-- Top section content here -->
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <a href="/Detail/Index" class="recipe-link">
                            <div class="recipe1 rounded-3">
                                <img src="~/image/c1.png" alt="Salad" width="200" />
                                <div class="vitamins">Vitamins</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <a href="/Detail/Index" class="recipe-link">
                        <div class="recipe2 rounded-3">
                            <img src="~/image/c2.png" alt="Appetizer" width="200" />
                            <div class="skincare"> Skin Care </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <a href="/Detail/Index" class="recipe-link">
                        <div class="recipe3 rounded-3">
                            <img src="~/image/c4.png" alt="Main Course" width="200" />
                            <div class="ayurvedic"> Ayurvedic </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <a href="/Detail/Index" class="recipe-link">
                            <div class="recipe3 rounded-3">
                                <img src="~/image/c6.png" alt="Main Course" width="200" />
                                <div class="diabetic"> Diabetic Care </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <a href="/Detail/Index" class="recipe-link">
                        <div class="recipe4 rounded-3">
                            <img src="~/image/c5.png" alt="Dessert" width="200" />
                            <div class="covidcare"> Covid Care </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

       
    </div>
</body>
</html>
