<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail </title>
    <link href="~/css/detailmenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/your/css/detailMenu.css">
</head>
<body>
    <main>
        <section class="container">
           

            <!-- Thumbnail -->
            <div class="thumbnail d-flex justify-content-center mt-2">
                <img src="~/images/m2.png" width="250" height="350" />
            </div>

            <!-- Ingredients -->
            <div class="ingredients mt-3">
                <h3>Liveasy Wellness Calcium Magnesium Vitamin D3 & Zinc - Bones & Dental Health</h3>
                <ul>
                    <li>
                        Sold By:
                        LIVEASY company
                    </li>
                    <li>
                        Services:
                        - 7 Days Return
                        - Warranty not available
                    </li>
                    <li>
                        Product Details
                        Expires on or after: 29/09/2026
                        Country of Origin: India
                    </li>
                   
                    
                </ul>
            </div>

            <!-- Bar -->
            <hr class="bar mt-5 mb-5">

        </section>
    </main>

    <footer>
        <!-- Footer content -->
        <p>&copy; 2024 Pharmify. All rights reserved.</p>
    </footer>


</body>
</html>
